---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

let counter = 1;

if (Astro.cookies.has("counter")) {
  const cookie = Astro.cookies.get("counter");
  counter = cookie.number() + 1;
}

Astro.cookies.set("counter", counter);

let message = "";

if (counter === 1) {
  message = `Welcome! This is your first time here, and I'm so glad you found me! I hope you like what you see and decide to stick around for a while. You've visited this site ${counter} time.`;
} else if (counter < 3) {
  message = `Welcome back! You've visited my site ${counter} times. I'm happy to see you again and hope you're finding everything you need. If not, let me know - I'm always here to help!`;
} else if (counter < 5) {
  message = `Hey there, you're becoming a regular! I appreciate your loyalty and hope you're enjoying your visits. If there's anything I can do to make your experience even better, don't hesitate to reach out! You've visited this site ${counter} times.`;
} else if (counter < 7) {
  message = `Thanks for stopping by again! Your visits mean the world to me, and I'm always happy to see you. You've visited this site ${counter} times.`;
} else if (counter < 10) {
  message = `You're officially part of the community now! I love having you around and appreciate your ongoing support. Thanks for being such a great part of my site! You've visited this site ${counter} times.`;
} else if (counter < 15) {
  message = `Okay, I admit it - I'm starting to get a little jealous of how much time you're spending here! But seriously, I appreciate your dedication and hope you're enjoying everything I have to offer. You've visited this site ${counter} times.`;
} else if (counter < 20) {
  message = `Wow, you're a true regular! I'm honored to have such a dedicated visitor and can't thank you enough for your ongoing support. Here's to many more visits to come! You've visited this site ${counter} times.`;
} else if (counter < 25) {
  message = `You've officially made it onto my list of all-time favorite visitors! Your loyalty and support mean everything to me, and I'm so grateful to have you here. You've visited this site ${counter} times.`;
} else if (counter < 30) {
  message = `You're a true regular now! I love having you visit my site and appreciate all the time you're spending here. Thanks for being such an awesome part of my community! You've visited this site ${counter} times.`;
} else {
  message = `I think it's safe to say that you're one of the most frequent visitors I've ever had! Your ongoing support and loyalty mean everything to me, and I can't thank you enough for your visits. Here's to many more in the future! You've visited this site ${counter} times.`;
}
---

<style>
  .Pos {
    padding: 1rem;
  }
</style>
<Layout>
  <hgroup>
    <h1>Hello There!</h1>
    <p>{message}</p>
    <p>
      Namaste and welcome to my website! I'm a programmer based in India, and if
      coding were a sport, I'd probably be a footballer. But since I'm not that
      good with my feet, I stick to writing code instead. When I'm not busy
      trying to debug my code, you can usually find me on the football field,
      trying to debug my footwork. As a programmer, I believe that humor is the
      best debugging tool, and I bring that same lighthearted approach to
      everything I do. Whether you're looking for help with a coding project or
      just want to chat about the latest football match, I'm always here to
      connect with like-minded people who appreciate a good laugh. So grab a cup
      of coffee and let's see if we can debug the world together!
    </p>
    <!-- <p class="Pos">
		<b>Leader of <a href="https://hacktks.hackclub.com/">HackClub Pune</a>:</b> a community of young programmers who are passionate about coding and building cool stuff.
	</p> -->
  </hgroup>
  <br />
  <!-- <h2>Some Of My Top Projects:</h2>
  <Card
    description="Stay secure in the digital world with our ethical hacking tips and tools."
    title="Ethical Hacking"
    link="https://ethical-hacking.hrushalnikhare.xyz"
    image="/ethical-hacking.png"
  />
  <Card
    description="Get instant nutrition information for any food with our AI-powered image recognition application. Simply snap a picture of your meal and receive detailed nutritional analysis in seconds."
    title="Calorie Counter"
    link="https://github.com/Hrushal-Nikhare/Calorie-Counter"
    image="/calorie.jpg"
  /> -->
</Layout>
